/* Odabir osnovnog pisma za cijelu stranicu */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2; /* svijetlosiva pozadina */
    color: #333333; /* tamnosivi tekst */
    margin: 40px;
}

/* Naslov stranice */
h1 {
    color: #0055aa; /* plava boja naslova */
    font-weight: 700;
    font-style: normal;
    background-color: #dceeff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

/* Paragrafi */
p {
    font-weight: 400;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    border-left: 4px solid #0055aa;
}

span {
color: #0055aa;

}

ul {
    list-style: square;
    color: blue;
}

#lista {
    color: brown;
    list-style: none;
}

#lista li {
    display: inline-block;
    margin: 0 20px;
}

h3 {
    float: right;
}

.zelena {
    color: blueviolet;
    text-decoration: underline;
}

#fname {
    color: green !important;
}

td {
  text-align: center;
}

table {
  width: 60%;
  border-collapse: collapse; /* spajanje rubova ćelija */
  margin: 20px auto; /* centriranje tablice */
}


th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}


#naslov {
  background-color: #f2f2f2;
  font-size: 1.2em;
  border-radius: 8px;
}


tbody tr:nth-child(even) {
  background-color: #e6f7ff;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}


tbody td:first-child {
  font-weight: bold;   
  color: red;          
}


tbody td:last-child {
  color: green;
}
